body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }

ul li {
  list-style: none; }

ul {
  padding: 0; }

.app__map {
  height: 680px;
  width: 1000px; }

.hint__content {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #1e355d;
  padding: 10px; }

.ymaps-2-1-78-balloon__content,
.ymaps-2-1-78-balloon__layout,
.ymaps-2-1-78-balloon__tail:after {
  background-color: #1e355d !important; }

.ymaps-2-1-78-balloon__close-button {
  width: 10px !important;
  height: 10px !important;
  margin: 10px;
  opacity: 1 !important;
  background: url("../img/close.png") center/cover no-repeat !important; }

.ymaps-2-1-78-ground-pane {
  filter: grayscale(1);
  -ms-filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1); }

.clusterIcon {
  background-color: #1e355d;
  width: 50px;
  height: 50px;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center; }

.balloon__content {
  width: 300px; }

.balloon__title {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #ff9e00;
  margin-bottom: 10px; }

.balloon__ceo {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #fff;
  margin-bottom: 10px; }

.balloon__phone {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #fff;
  margin-bottom: 10px; }
  .balloon__phone span {
    margin-left: 20px; }

.balloon__email {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #8fd4f1;
  text-decoration: none; }

.app {
  width: 90%;
  display: flex;
  justify-content: center;
  min-width: 1200px; }
  .app__info {
    padding: 0 10px; }
    .app__info .info__tabs {
      width: 400px; }
      .app__info .info__tabs .tabs__items {
        display: flex; }
        .app__info .info__tabs .tabs__items .tabs__item {
          flex: 0 1 50%;
          height: 34px;
          border: 1px solid #a8a8a8;
          font-family: "Roboto Condensed", sans-serif;
          color: #a8a8a8;
          background: #fff;
          text-decoration: none;
          transition: all 0.1s ease-in-out; }
          .app__info .info__tabs .tabs__items .tabs__item:hover, .app__info .info__tabs .tabs__items .tabs__item.is-active {
            cursor: pointer;
            background: #ff9e00;
            color: #fff;
            border: 1px solid #ff9e00; }
          .app__info .info__tabs .tabs__items .tabs__item:not(:last-child) {
            margin-right: 5px; }
      .app__info .info__tabs .tabs__body .tabs__block {
        display: none; }
        .app__info .info__tabs .tabs__body .tabs__block.is-active {
          display: block; }
      .app__info .info__tabs .tabs__body .info__content {
        width: 100%;
        padding: 20px 0;
        border-bottom: 1px solid #c9c8c8; }
        .app__info .info__tabs .tabs__body .info__content:hover {
          cursor: pointer; }
        .app__info .info__tabs .tabs__body .info__content:first-child {
          border-top: 1px solid #c9c8c8;
          margin-top: 15px; }
        .app__info .info__tabs .tabs__body .info__content .info__city {
          position: relative;
          font-family: "Roboto Condensed", sans-serif;
          font-weight: bold;
          font-size: 20px;
          color: #1e355d; }
          .app__info .info__tabs .tabs__body .info__content .info__city::after {
            content: "";
            position: absolute;
            right: 20px;
            top: 2px;
            width: 25px;
            height: 25px;
            background: url("../img/arrow_down.png") center/cover no-repeat; }
          .app__info .info__tabs .tabs__body .info__content .info__city .info__data {
            left: 0;
            top: 40px;
            display: none;
            transition: all 0.1s ease-in-out; }
            .app__info .info__tabs .tabs__body .info__content .info__city .info__data ul {
              margin-bottom: 0; }
              .app__info .info__tabs .tabs__body .info__content .info__city .info__data ul li span {
                margin-left: 10px; }
              .app__info .info__tabs .tabs__body .info__content .info__city .info__data ul li:first-child {
                font-family: "Roboto Condensed", sans-serif;
                font-weight: bold;
                font-size: 18px;
                color: #1e355d; }
              .app__info .info__tabs .tabs__body .info__content .info__city .info__data ul li:nth-child(2), .app__info .info__tabs .tabs__body .info__content .info__city .info__data ul li:nth-child(3) {
                font-family: "Roboto Condensed", sans-serif;
                font-weight: normal;
                font-size: 16px;
                color: #000; }
              .app__info .info__tabs .tabs__body .info__content .info__city .info__data ul li a {
                font-family: "Roboto Condensed", sans-serif;
                font-weight: normal;
                font-size: 16px;
                color: #8fd4f1 !important;
                text-decoration: none !important; }
              .app__info .info__tabs .tabs__body .info__content .info__city .info__data ul li:not(:last-child) {
                margin-bottom: 15px; }
        .app__info .info__tabs .tabs__body .info__content.is-active .info__data {
          display: block; }
        .app__info .info__tabs .tabs__body .info__content.is-active .info__city {
          color: #ff9e00; }
          .app__info .info__tabs .tabs__body .info__content.is-active .info__city::after {
            background: url("../img/arrow_up.png") center/cover no-repeat; }
